# Supplementary topics of Python training for Beginners


This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* Tuple Unpacking
* methods
____

## Data types

### Numbers

In [2]:
1 + 1

2

In [3]:
1 * 3

3

In [4]:
1 / 2

0.5

In [5]:
2 ** 4

16

In [6]:
4 % 2

0

In [7]:
5 % 2

1

In [8]:
5 // 3

1

In [9]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [10]:
# Can not start with number or special characters
name_of_var = 2

In [11]:
x = 2
y = 3

In [12]:
z = x + y

In [13]:
z

5

### Strings

In [14]:
'single quotes'

'single quotes'

In [15]:
"double quotes"

'double quotes'

In [16]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [1]:
x = 'hello'

In [18]:
x

'hello'

In [19]:
print(x)

hello

In [20]:
num = 12
name = 'Sam'

In [21]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [22]:
print('My number is: {one}, and my name is: {two}, more {one}'.format(one=num,two=name))

My number is: 12, and my name is: Sam, more 12

In [23]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [24]:
[1,2,3]

[1, 2, 3]

In [3]:
my_list = ['hi',1,[1,2]]

In [4]:
my_list[2]

[1, 2]

In [7]:
my_list = ['a','b','c']

In [8]:
my_list.append('d')

In [9]:
my_list

['a', 'b', 'c', 'd']

In [29]:
my_list[0]

'a'

In [30]:
my_list[1]

'b'

In [17]:
my_list[:]

['a', 'b', 'c', 'd']

In [32]:
my_list[:1]

['a']

In [33]:
my_list[0] = 'NEW'

In [34]:
my_list

['NEW', 'b', 'c', 'd']

In [35]:
nest = [1,2,3,[4,5,['target']]]

In [36]:
nest[3]

[4, 5, ['target']]

In [37]:
nest[3][2]

['target']

In [38]:
nest[3][2][0]

'target'

### Dictionaries

In [57]:
d = {'key1':'item1','key2':'item2'}

In [40]:
d

{'key1': 'item1', 'key2': 'item2'}

In [41]:
d['key1']

'item1'

In [21]:
dict = {'ky1' : [1,2,3]}

In [24]:
dict['ky1'][1]

2

### Booleans

In [44]:
True

True

In [45]:
False

False

### Tuples

In [46]:
t = (1,2,3)

In [47]:
t[0]

1

In [48]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [115]:
{1,2,3}

{1, 2, 3}

In [116]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [118]:
s1 = {1,2,3}

In [119]:
s1[0]

TypeError: 'set' object is not subscriptable

## Comparison Operators

In [51]:
1 > 2

False

In [52]:
1 < 2

True

In [53]:
1 >= 1

True

In [54]:
1 <= 4

True

In [55]:
1 == 1

True

In [56]:
'hi' == 'bye'

False

## Logic Operators

In [57]:
(1 > 2) and (2 < 3)

False

In [58]:
(1 > 2) or (2 < 3)

True

In [59]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [60]:
if 1 < 2:
    print('Yep!')

Yep!

In [61]:
if 1 < 2:
    print('yep!')

yep!

In [62]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [63]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [64]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [65]:
seq = [1,2,3,4,5]

In [66]:
for item in seq:
    print(item)

1
2
3
4
5

In [67]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [68]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [69]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [120]:
range(5)

range(0, 5)

In [126]:
for i in range(5):
    print(i)

0
1
2
3
4

In [127]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [72]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [27]:
x = [1,2,3,4]

In [28]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [29]:
[item**2 for item in x]

[1, 4, 9, 16]

In [32]:
entry = str(input())
entry = entry.split()
entry = [int(i) for i in entry]
entry.sort()
length = (entry[1] - entry[0]) + (entry[2] - entry[1])
print(length)

7 8 9
2

## functions

In [33]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [77]:
my_func

In [78]:
my_func # shift + tab

In [79]:
my_func()

default

In [80]:
my_func('new param')

new param

In [81]:
my_func(param1='new param')

new param

In [35]:
def square(x):
    return x**2

In [37]:
out = square(2)

In [84]:
print(out)

4

## lambda expressions

In [38]:
def times2(var):
    return var*2

In [39]:
times2(2)

4

In [40]:
lambda var: var*2

## map and filter

In [5]:
seq = [1,2,3,4,5]

In [6]:
map(times2,seq)

In [7]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [8]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [9]:
filter(lambda item: item%2 == 0,seq)

In [10]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [41]:
seq = ['soup','dog','salad','cat','great']

list(filter(lambda each: each[0] == 's',seq))

['soup', 'salad']

## Tuple Unpacking

In [42]:
# Packing
a = ("Artificial", 5000, "Intelligence")  
 
# Unpacking    
(college, student, type_ofcollege) = a  
 
print(college)
 
print(student)
 
print(type_ofcollege)

Artificial
5000
Intelligence

In [46]:
x, *y, z = (45, "salam", "be", "shoma", 89)
 
print(x)
print(y)
print(z)
 
# first and second will be assigned to x and y
# remaining will be assigned to z
x, y, *z = (89, "salam", "be", "shoma", 45)
print(x)
print(y)
print(z)

45
['salam', 'be', 'shoma']
89
89
salam
['be', 'shoma', 45]

## methods

In [47]:
st = 'Hello My Name is Sam'

In [48]:
st.lower()

'hello my name is sam'

In [49]:
st.upper()

'HELLO MY NAME IS SAM'

In [55]:
st.split()

['Hello', 'My', 'Name', 'is', 'Sam']

In [98]:
tweet = 'Go Sports! #Sports'

In [99]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [100]:
tweet.split('#')[1]

'Sports'

In [58]:
d

{'key1': 'item1', 'key2': 'item2'}

In [60]:
d.keys()

dict_keys(['key1', 'key2'])

In [61]:
d.values()

dict_values(['item1', 'item2'])

In [103]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [62]:
lst = [1,2,3]

In [63]:
lst.pop()

3

In [106]:
lst

[1, 2]

In [107]:
'x' in [1,2,3]

False

In [108]:
'x' in ['x','y','z']

True